.vagrant
.project
.settings
.idea
.vs
*.bak
*.log
*.sln
*.suo
*.csproj
*.njsproj
playbook.retry
coverage
node_modules
Temp
Obj
StyleCop.Cache
server/dist
server/doc
server/config/local.yaml
web/dist
web/tmp
web/out-tsc
game/Library
game/Assets/Plugins
!.gitkeep
