.vagrant
.project
.settings
.idea
.vs
*.bak
*.log
*.sln
*.suo
*.csproj
*.njsproj
playbook.retry
coverage
node_modules
Temp
Obj
server/dist
server/doc
server/config/local.yaml
client/dist
client/tmp
client/out-tsc
!.gitkeep
