<h1 class="page-header">{{ "PASSWORD_CHANGE_PAGE.TITLE" | translate }}</h1>
<form #f="ngForm" (ngSubmit)="submit()" novalidate class="form-horizontal">
    <fieldset class="form-group">
        <label for="password" class="control-label col-xs-3">{{ "PASSWORD_CHANGE_PAGE.PASSWORD" | translate }}:</label>
        <div class="col-xs-5">
            <input type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
            <div class="warning" *ngIf="password.errors">
                <div [hidden]="!password.errors.required">{{ "VALIDATE.REQUIRED" | translate }}</div>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <label for="repeatPassword" class="control-label col-xs-3">{{ "PASSWORD_CHANGE_PAGE.REPEAT_PASSWORD" | translate }}:</label>
        <div class="col-xs-5">
            <input type="password" id="repeatPassword" name="repeatPassword" [(ngModel)]="user.repeatPassword" #repeatPassword="ngModel" required>
            <div class="warning" *ngIf="repeatPassword.errors">
                <div [hidden]="!repeatPassword.errors.required">{{ "VALIDATE.REQUIRED" | translate }}</div>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!f.form.valid || isButtonClicked">{{ "UPDATE" | translate }}</button>
        </div>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="error">{{ error | translate }}</div>
</form>