<nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">{{ "APP_NAME" | translate }}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li *ngIf="auth.isAuthed()" class="nav-item dropdown" dropdown>
                <a href class="nav-link dropdown-toggle" id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">{{ auth.name }}</a>
                <div id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="basic-link">
                    <span class="dropdown-item">{{ "ADMINISTRATOR.ROLE" | translate }}: <app-admin-role [role]="auth.role"></app-admin-role></span>
                    <a class="dropdown-item" routerLink="/password">{{ "PASSWORD_CHANGE_PAGE.LINK" | translate  }}</a>
                    <a class="dropdown-item" routerLink="/logout">{{ "LOGOUT" | translate  }}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>