<!-- ※ モバイル端末でのサイドバーの表示制御は、AngularではなくCSSとjQueryで行っている。 -->
<div id="sidebartoggle"><a onclick="$('#sidebar, #sidebartoggle').toggleClass('active')" class="btn btn-info rounded-circle p-0" role="button"><span class="openBtn">&gt;</span><span class="closeBtn">&lt;</span></a></div>

<nav id="sidebar">
    <ul *ngFor="let itemOrGroup of navi; let i = index" class="list-unstyled components">
        <li *ngIf="!itemOrGroup.items" class="{{ itemOrGroup.active ? 'active' : '' }}">
            <a routerLink="{{ itemOrGroup.path }}">{{ itemOrGroup.title | translate }}</a>
        </li>
        <li *ngIf="itemOrGroup.items">
            <a href="#sidebarsubmenu{{i}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ itemOrGroup.title | translate }}</a>
            <ul class="collapse list-unstyled" id="sidebarsubmenu{{i}}">
                <li *ngFor="let item of itemOrGroup.items" class="{{ item.active ? 'active' : '' }}"><a routerLink="{{ item.path }}">{{ item.title | translate }}</a></li>
            </ul>
        </li>
    </ul>
</nav>