/* 参考: https://github.com/ravishankarsrrav/bootstrap4-responsive-sidebar */

#sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #f5f5f5;
    color: #fff;
    transition: all 0.3s;
    padding: 10px 0px;
    overflow-y: auto;
}

#sidebar ul {
    margin-bottom: 0rem;
}

#sidebar ul li a {
    padding: 10px 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: #0092D1;
}

#sidebar ul li.active>a {
    color: #fff;
    background: #0092D1;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f5f5f5;
}

#sidebartoggle {
    display: none;
    position: absolute;
    z-index: 1000;
    margin-top: 10px;
    margin-left: -6px;
    transition: all 0.3s;
}

#sidebartoggle .btn {
    width: 2rem;
    height: 2rem;
    color: #fff;
}

#sidebartoggle .closeBtn {
    display: none;
}


/* 画面が小さい場合に、サイドバーをデフォルト非表示にする */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebartoggle {
        display: block;
    }
    #sidebartoggle.active {
        margin-left: 218px;
    }
    #sidebartoggle.active .openBtn {
        display: none;
    }
    #sidebartoggle.active .closeBtn {
        display: inline;
    }
}